extends partial/layout

block container
    //- include mixins/post
    if page.type === "tags"
    include tags
    
block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
