.tag-cloud
    .tag-cloud-header
        - site.tags.map(function(tag){
            span.tag-cloud-item.js_tag(data-name= tag.name)
                != tag.name
        - })
    .archive.js_tag_cloud_list
        - site.tags.map(function(tag){
            .one-tag.js_one_tag(data-name= tag.name)
                h2.archive-year.tag-text!= tag.name
                - tag.posts.map(function(post){
                    .post-item
                        .post-info
                            != full_date(post.date, 'll')
                        a.post-title-link(href= url_for(post.path))
                            != post.title
                - })
        - })
